# Vom Dist-Archiv (composer --prefer-dist / GitHub-Zipball) ausschliessen:
# Entwicklungs-, Build- und CI-Dateien, die zur Laufzeit nicht gebraucht werden.
/.github/ export-ignore
/Build/ export-ignore
/Tests/ export-ignore
# Build-Quellen (Scss/JS-Source/Fonts/Image) – ausgeliefert wird nur Resources/Public/Dist
/Resources/Public/Assets/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.scrutinizer export-ignore
/.styleci.yml export-ignore
/.travis.yml export-ignore
/composer.json.orig export-ignore
/composer.json.testing export-ignore
/Makefile export-ignore
/.babelrc export-ignore
/.browserslistrc export-ignore
/.phpstorm.meta.php export-ignore
/fileHelper.js export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/postcss.config.js export-ignore
/script.webpack.js export-ignore
/style.webpack.js export-ignore
