<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:flashMessages/>

    <h1><f:translate key="LLL:EXT:consent_banner/Resources/Private/Language/locallang_mod.xlf:banner.headline"/></h1>
    <f:if condition="{data}">
        <f:then>
            <div class="layout-one-columns">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Consent Banner</span>
                    </div>
                    <div class="table-fit">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-label col-responsive">
                                    <span>Title</span>
                                </th>
                                <th class="col-content col-responsive nowrap">
                                        <span>
                                            {data.bannerTitle}
                                        </span>
                                </th>
                                <th class="col-control col-responsive nowrap">
                                    <div class="btn-group">
                                        <be:link.editRecord uid="{data.uid}" table="tx_consentbanner_domain_model_banner" class="btn btn-default">
                                            <core:icon identifier="actions-open" size="small"/>
                                        </be:link.editRecord>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col-label col-responsive">
                                    <span>Description</span>
                                </th>
                                <td class="col-content col-responsive nowrap">
                                        <span>
                                            {data.bannerDescription}
                                        </span>
                                </td>
                                <td class="col-control nowrap">&nbsp;</td>
                            </tr>

                            <tr>
                                <th class="col-label col-responsive">
                                    <span>Layout Type</span>
                                </th>
                                <td class="col-content col-responsive nowrap">
                                    <f:switch expression="{data.bannerLayout}">
                                        <f:case value="cb-overlay">
                                            <span>
                                                <f:translate key="LLL:EXT:consent_banner/Resources/Private/Language/locallang_mod.xlf:field.banner_layout.overlay" />
                                            </span>
                                        </f:case>
                                        <f:case value="cb-bottom">
                                            <span>
                                                <f:translate key="LLL:EXT:consent_banner/Resources/Private/Language/locallang_mod.xlf:field.banner_layout.fullWidthBottom" />
                                            </span>
                                        </f:case>
                                    </f:switch>
                                </td>
                                <td class="col-control nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <th class="col-label col-responsive">
                                    <span>Consent groups</span>
                                </th>
                                <td class="col-content col-responsive">
                                    <f:comment><!-- groupsOverview (Controller): alle Gruppen mit >=1 Component, inkl. inaktiver. Icon (actions-toggle-on/off) = Aktiv-Status je Gruppe und je Component (hidden-Flag). --></f:comment>
                                    <f:for each="{groupsOverview}" as="group">
                                        <div class="bb-cb--group mb-2">
                                            <span class="me-1">
                                                <f:if condition="{group.active}">
                                                    <f:then><core:icon identifier="actions-eye" size="small" title="aktiv"/></f:then>
                                                    <f:else><core:icon identifier="actions-minus-circle" size="small" title="inaktiv"/></f:else>
                                                </f:if>
                                            </span>
                                            <strong>{group.title}</strong>
                                            <div class="bb-cb--components">
                                                <f:for each="{group.components}" as="component">
                                                    <span class="badge bb-cb--component {f:if(condition: component.active, then: 'badge-primary', else: 'badge-warning')}">
                                                        <span class="me-1">
                                                            <f:if condition="{component.active}">
                                                                <f:then><core:icon identifier="actions-eye" size="small" title="aktiv"/></f:then>
                                                                <f:else><core:icon identifier="actions-minus-circle" size="small" title="inaktiv"/></f:else>
                                                            </f:if>
                                                        </span>
                                                        <span class="bb-cb--component-label">{component.title}</span>
                                                    </span>
                                                </f:for>
                                            </div>
                                        </div>
                                    </f:for>
                                </td>
                                <td class="col-control nowrap">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <be:link.newRecord table="tx_consentbanner_domain_model_banner" pid="{currentRootPageId}" returnUrl="{returnUrl}" defaultValues="{defaultValues}" class="btn btn-default">
                <core:icon identifier="actions-add" size="small"/>
                <f:translate key="LLL:EXT:consent_banner/Resources/Private/Language/locallang_mod.xlf:action.banner.new.title" />
            </be:link.newRecord>
        </f:else>
    </f:if>
</f:section>
</html>
